.padre{
  width: 600px;
  height: 600px;
  background: pink;
  border: 1px solid red;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo1{
  width: 360px;
  height: 400px;
  background: violet;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hijo2{
  width: 280px;
  height: 350px;
  background: yellow;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.qr-img{
  width: 200px;
  height: 200px;
}
.titulo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.parrafo{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}